.orange {
  color: #F76D2B;
}

@media (max-width: 768px) {
  .xs-hidden {
    display: none;
  }
}

.b-welcome .b-welcome__text ul {
  font-weight: bold;
  margin-bottom: 45px;
}
.b-welcome .b-article__main-add input {
  margin-bottom: 10px;
}
.b-welcome .b-article__main-add button {
  background-color: #555555 !important;
}

.b-search {
  background-image: url("../img/bg09.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-bottom: 30px;
}
.b-search .b-search__main {
  height: auto;
}
.b-search .b-search__main h1 {
  color: #FFFFFF !important;
}

.b-detail__main-info-text .b-detail__main-aside-about-form-links {
  text-align: center;
}

.b-world {
  padding-top: 35px !important;
}
.b-world .container {
  padding-top: 0;
  padding-bottom: 0;
}

.b-featured {
  padding-bottom: 0 !important;
}
.b-featured .container {
  min-height: 400px;
}

.b-count .container-fluid {
  background-color: #F76D2B;
}
.b-count .container-fluid .m-main {
  background: transparent;
}
.b-count .container-fluid .m-main .b-count__item-circle span {
  color: #FFFFFF;
}
.b-count .container-fluid .m-main .b-count__item-circle:hover {
  background-color: #FFFFFF;
}
.b-count .container-fluid .m-main .b-count__item-circle:hover span {
  color: #555555;
}
.b-count .container-fluid .m-main h2 {
  color: #FFFFFF;
}

.b-homeReviews {
  background-image: url(../img/bg03.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .b-homeReviews {
    padding: 0 !important;
  }
}
.b-homeReviews .container {
  background-color: #FFFFFF;
  padding: 5em;
  padding-padding-top: 5em;
}
.b-homeReviews .container h1 {
  color: #F76D2B;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.b-homeReviews .container h4 {
  color: #555555;
}
.b-homeReviews .container a {
  background-color: #F76D2B;
  color: #FFFFFF;
  padding: 10px 15px;
}
.b-homeReviews .container a:hover {
  background-color: #555555;
  color: #F76D2B;
}

.b-partners .b-brands__brand img {
  height: 100px;
}
